.container {
  padding: 20px;
  background-color: rgba(255 255 200 / 29%);
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 858px;
}

.content {
  max-width: 1200px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  float: inline-end;
  text-align: center;
}

.registerButton, .logoutButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.registerButton {
  background-color: #ff8803;
  color: #fff;
  // padding-top: 15px;
  // padding-bottom: 15px;
  font-size: 16px;
}

.logoutButton {
  background-color: #f44336;
  color: #fff;
}

.registerButton:hover, .logoutButton:hover {
  background-color: #ff6803;
}

.notworkplace {
  color: gray;
  text-align: center;
  padding-top: 50px;
}

.workplaceWrap {
  width: 800px;
  background: #f7e4cdad;
  padding: 15px;
  border-radius: 7px;
  margin: 35px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 15px;
}

.wrap {
  display: ruby-text;
}

.name {
  font-weight: 700;
  padding-bottom: 10px;
}

.listItem {
  width: 800px;
  background-color: rgb(255 255 255 / 78%);
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  position: relative; /* Added to control button placement */
}

.listItem h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.listItem p {
  margin: 5px 0;
  color: #555;
  font-size: 19px;
}

.listItem p.date {
  color: #828181b5;
}

.link {
  text-decoration: none;
  color: #333;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  margin-top: 15px;
  gap: 10px; /* Space between buttons */
  position: absolute;
  right: 20px; /* Align the button group with the right side of the container */
  bottom: 20px; /* Adjust to place the buttons at the bottom */
}

.modifyButton, .deleteButton {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.modifyButton {
  background-color: #2a9d8f;
  color: #fff;
}

.deleteButton {
  background-color:#2a9d8f;
  color: #fff;
}

.modifyButton:hover {
  background-color: #258579;
}

.deleteButton:hover {
  background-color: #ff584c;
}
