.slaveRegistPageWage-box {
  display: flex;
  justify-content: left;
  width: 43rem;
  // height: 2.5rem;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 32px;
  padding-left: 4.5rem;
  // border: 1px solid rgb(120, 1, 255);

  .slaveRegistPageWage-title {
    width: 10rem;
  }

  .slaveRegistPageWage-contentBox {

    .slaveRegistPageWage-content {
      width: 21.5rem;
      height: 2.5rem;
      //-------------
      display: flex;
  
      .nonWageType {
        width: 10.8rem;
        height: 2.5rem;
        background: rgba(0, 139, 134, 0.8);
        //------------------------------------
        color: rgb(255, 255, 255);
        font-weight: 600;
        //--------------------------
        display: flex;
        justify-content: center;
        align-items: center;
        //----------------------
        border: 1px solid rgb(1, 119, 115);
        //-----------------------------------
        cursor: pointer;
      }
      .wageType {
        width: 10.8rem;
        height: 2.5rem;
        background: rgba(65, 63, 63, 0.7);
        //------------------------------------
        color: rgb(255, 255, 255);
        font-weight: 600;
        //--------------------------
        display: flex;
        justify-content: center;
        align-items: center;
        //----------------------
        border: 1px solid rgba(65, 63, 63, 1);
        //-----------------------------------
        cursor: pointer;
      }

      .slaveRegistPageInputWage-input {
        width: 14.5rem;
        height: 2.2rem;
        margin: 10px 10px 0 10px;
      }
    }
  }
}