.slaveRegistPageWage-box {
  display: flex;
  justify-content: left;
  width: 43rem;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 32px;
  padding-left: 4.5rem;
}

.slaveRegistPageWage-title {
  width: 10rem;
}

.slaveRegistPageWage-contentBox {
  .slaveRegistPageWage-content {
    width: 21.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
  }

  .slaveRegistPageInputWage-input {
    width: 14.5rem;
    height: 2.2rem;
    margin: 10px 10px 0 10px;
  }
}
