.slaveRegistPageScheduleModal-title {
  font-size: 18px;
}

.slaveRegistPageScheduleModal-content {
  display: flex;
  align-items: center;
  margin: 10px 0 20px 0;
  // border: 1px solid red;
  //----------------------

  .daySchedule {
    width: 2.5rem;
    height: 2.5rem;
    background: rgba(0, 139, 134, 0.8);
    //------------------------------------
    color: rgb(255, 255, 255);
    font-weight: 600;
    //--------------------------
    display: flex;
    justify-content: center;
    align-items: center;
    //----------------------
    border: 1px solid rgba(0, 139, 134, 0.8);
    //-----------------------------------------
    margin: 0 14.5px 0 0;
    //-----------------------------------------
    cursor: pointer;
  }

  .selectedDaySchedule {
    width: 2.5rem;
    height: 2.5rem;
    background: rgba(65, 63, 63, 0.7);
    //------------------------------------
    color: rgb(255, 255, 255);
    font-weight: 600;
    //--------------------------
    display: flex;
    justify-content: center;
    align-items: center;
    //----------------------
    border: 1px solid rgba(0, 139, 134, 0.8);
    //-----------------------------------------
    margin: 0 14.5px 0 0;
    //-----------------------------------------
    cursor: pointer;
  }
}

.slaveRegistPageScheduleModalInput-box {
  display: flex;
  //---------------
  width: 40rem;
  height: 2.2rem;
  //----------------
  font-size: 18px;
  //----------------
  margin-left: -10px;
}

.slaveRegistPageScheduleModalInput {
  width: 10rem;
  height: 2.2rem;
  //----------------------
  margin: 10px 10px 0 10px;
}
