.innerMainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative; /* 추가 */
}

.leftPanel {
  width: 25%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.workplaceInfo {
  text-align: center;
  margin-bottom: 30px;
}

.monthNavigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* 추가된 부분 */
}

.monthDetails {
  text-align: center;
  font-size: 1rem;
  margin-top: 10px; /* 위치 변경에 따른 수정 */
}

.arrowButton {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.monthText {
  margin: 0 20px;
  font-size: 1.5rem;
  color: #333;
}

.employeeSection {
  margin-top: 20px;
}

.employeeTitle {
  font-weight: bold;
  color: #333;
}

.employeeWages {
  margin-top: 10px;
}

.employeeWage {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #333;
}

.rightPanel {
  width: 75%;
  padding: 20px;
  position: relative; /* 추가 */
}

.scheduleSection {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.scheduleTable {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.scheduleColumn {
  width: 22%;
}

.columnTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.scheduleEntry {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.backgroundImage {
  position: absolute;
  bottom: -260px; /* 더 아래로 이동 */
  right: -260px; /* 더 오른쪽으로 이동 */
  width: 800px; /* 이미지 크기를 200px 더 키움 */
  height: 800px;
  transform: rotate(-45deg);
  opacity: 0.3;
  background-size: contain;
  background-repeat: no-repeat;
}

.scroll {
  width: 60px;
  height: 60px;
  margin-left: 125px;
  margin-top:20px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
  &::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-45deg);
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
.datePickerContainer {
  display: flex;
  align-items: center;
  border-bottom: solid 6px #008B86;
}

.calendarIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.dateText {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

