.content-box {
  padding: 1.5%;

  .slaveInfoPage-HeaderBox {
    width: 100%;
    height: 1%;
    //-----------
    display: flex;
    align-items: center;
    justify-content: space-between;
    //-----------------------------------------
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 2px solid black;
  
    .slaveInfoPage-HeaderTitle {
      // width: 7.6rem;
      height: 3rem;
      //----------------------------
      font-size: 40px;
      font-weight: 900;
      letter-spacing: 2px;
      color: rgba(42, 43, 43, 0.8);
      //-----------------------------
      // border: 3px solid red;
    }
  
    .link-text {
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
  
    .headerButton {
      width: 7rem;
      height: 2.5rem;
      //--------------------------
      background-color: #ff8803;
      font-weight: 600;
      color: rgb(255, 255, 255);
      //----------------------
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //----------------------
      border: none;
      border-radius: 5px;
      margin-right: 8px;
      cursor: pointer;
    }
    .headerButton:hover {
      background-color: #ff5e00;
      cursor: pointer;
    }
  }

  .slaveInfoPage-MiddleBox {
    width: 100%;
    height: 19rem;
    //------------
    display: flex;
    align-items: center;
    // border: 3px solid red;

    .slaveInfoPage-SlaveInfoBox {
      width: 20rem;
      height: 12.5rem;
      border: 1px solid rgba(0, 0, 0, 0.4);

      .slaveInfoPage-SlaveInfoTitle {
        font-size: 18px;
        font-weight: 600;
        padding: 15px;

      }
      .slaveInfoPage-SlaveInfoContentBox {
        padding: 0 15px 0 15px;
        display: flex;

        .slaveInfoPage-SlaveInfoContentTitle {
          width: 6rem;
          // border: 3px solid red;
        }
        .slaveInfoPage-SlaveInfoContentContent {
          width: 10rem;
          // border: 3px solid rgb(47, 0, 255);
        }
      }
    }

    .slaveInfoPage-SlaveWageBox {
      width: 20rem;
      height: 6.5rem;
      border: 1px solid rgba(0, 0, 0, 0.4);

      .slaveInfoPage-SlaveWageTitle {
        font-size: 18px;
        font-weight: 600;
        padding: 15px;
      }

      .slaveInfoPage-SlaveInfoContentBox {
        padding: 0 15px 0 15px;
      }
    }

    .slaveInfoPage-SlaveScheduleBox {
      width: 20rem;
      height: 19rem;
      border: 1px solid rgba(0, 0, 0, 0.4);

      .slaveInfoPage-SlaveScheduleTitle {
        font-size: 18px;
        font-weight: 600;
        padding: 15px;
      }
      .slaveInfoPage-SlaveScheduleContentBox {
        padding: 0 15px 0 15px;
      }
    }

    .slaveInfoPage-SlaveNothingBox {
      width: 46.2rem;
      height: 19rem;
      border: 1px solid rgba(0, 0, 0, 0.4);

      .slaveInfoPage-SlaveNothingTitle {
        font-size: 18px;
        font-weight: 600;
        padding: 15px;
      }
      .slaveInfoPage-SlaveNothingContentBox {
        padding: 0 15px 0 15px;
      }
    }
  }

  .slaveInfoPage-BottomBox {
    .slaveInfoPage-BottomTitle {
      width: 12rem;
      height: 2.5rem;
      //----------------------------
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 2px;
      color: rgba(43, 42, 42, 0.9);
      //-----------------------------
      display: flex;
      align-items: end;
      //---------------
      padding: 0 15px;
      // border: 1px solid red;
    }
  }
}
  
  