.slaveRegistPageWage-box {
  display: flex;
  justify-content: left;
  width: 43rem;
  // height: 2.5rem;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 32px;
  padding-left: 4.5rem;
  // border: 1px solid rgb(120, 1, 255);

  .slaveRegistPageWage-title {
    width: 10rem;
  }

  .slaveRegistPageWage-contentBox {

    .slaveRegistPageWage-content {
      width: 21.5rem;
      height: 2.5rem;
      //-------------
      display: flex;

      .nonWageType {
        width: 10.8rem;
        height: 2.5rem;
        //-------------
        display: flex;
        justify-content: center;
        align-items: center;
        //------------------
        font-weight: 600;
        color: rgb(255, 255, 255);
        //--------------------------
        border: 1px solid rgba(65, 63, 63, 1);
        //--------------------------------------
        cursor: pointer;
        //-------------------------------------------
        box-shadow:
        inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
        //----------------------------------
        background: rgba(65, 63, 63, 0.7);
      }

      .wageType {
        width: 10.8rem;
        height: 2.5rem;
        //-------------
        display: flex;
        justify-content: center;
        align-items: center;
        //------------------
        font-weight: 600;
        color: rgb(255, 255, 255);
        //--------------------------
        border: 1px solid rgba(0, 139, 134, 0.8);
        //--------------------------------------
        cursor: pointer;
        //---------------------------------------------
        box-shadow: 
          inset -4px -4px 6px 0 rgba(255,255,255,.2),
          inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
        //--------------------------------------
        background: #ff8803;
      }

      .slaveRegistPageInputWage-input {
        width: 14.5rem;
        height: 2.2rem;
        margin: 10px 10px 0 10px;
      }
    }
  }
}