.slaveRegistPageScheduleModal-title {
  font-size: 18px;
}

.slaveRegistPageScheduleModal-content {
  display: flex;
  align-items: center;
  margin: 9px 0 10px 0;
  // border: 1px solid red;
  font-size: 18px;
  //----------------------

  .nonDaySchedule {
    width: 2.5rem;
    height: 2.5rem;
    //-------------------
    margin: 0 14.5px 0 0;
    //-------------------
    display: flex;
    justify-content: center;
    align-items: center;
    //------------------
    font-weight: 600;
    color: rgb(255, 255, 255);
    //--------------------------
    border: 1px solid rgba(65, 63, 63, 1);
    //--------------------------------------
    cursor: pointer;
    //-------------------------------------------
    box-shadow:
    inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    //----------------------------------
    background: rgba(65, 63, 63, 0.7);
  }

  .selectedDaySchedule {
    width: 2.5rem;
    height: 2.5rem;
    //-------------------
    margin: 0 14.5px 0 0;
    //-------------------
    display: flex;
    justify-content: center;
    align-items: center;
    //------------------
    font-weight: 600;
    color: rgb(255, 255, 255);
    //--------------------------
    border: 1px solid rgba(0, 139, 134, 0.8);
    //--------------------------------------
    cursor: pointer;
    //---------------------------------------------
    box-shadow: 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    //--------------------------------------
    background: linear-gradient(0deg, rgba(0, 139, 134, 0.7) 0%, rgba(0, 139, 134, 1) 100%);
  }

  .slaveRegistPageInputSchedule-input {
    width: 10rem;
    height: 2.2rem;
    margin: 0 10px;
    padding: 1px 10px 1px 20px;
  }
}
