.slaveManagementList-title {
  width: 100%;
  height: 2.5rem;
  //-------------
  display: flex;
  justify-content: left;
  align-items: center;
  //------------------
  margin-top: 5px;
  // border: 2px solid red;

  &-common {
    height: 2.5rem;
    // border: 2px solid rgb(25, 116, 201);
    background: rgba(0, 0, 0, 0.4);
    //-----------------------------------
    display: flex;
    justify-content: center;
    align-items: center;
    //----------------------
    color: aliceblue;
    font-size: 1.1rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-weight: 600

  }

  &Number {
    @extend .slaveManagementList-title-common;
    width: 15.3rem;
    // border: 1px solid red;
  }

  &Name {
    @extend .slaveManagementList-title-common;
    width: 15.3rem;
    // border: 1px solid red;
  }

  &Time {
    @extend .slaveManagementList-title-common;
    width: 25rem;
    // border: 1px solid red
  }

  &Money {
    @extend .slaveManagementList-title-common;
    width: 6rem;
  }

  &Join {
    @extend .slaveManagementList-title-common;
    width: 25rem;
  }
  
}

.slaveManagementList-content {
  width: 100%;
  height: 36.5rem;
  background: rgba(136, 136, 136, 0.3);
  max-height: 39rem;
  overflow-y: scroll;
  //------------------------------------
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .slaveManagementList-box {
    width: 97.5%;
    height: 95%;
    // border: 3px solid red;

    .slaveManagementList-OneSlave {
      margin-bottom: 20px;
      padding: 10px 0;
      width: 100%;
      height: 5rem;
      border: 3px solid white;
      background: white;
      border-radius: 5px;
      display: flex;

      &-common {
        height: 2.5rem;
        // background: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-right: 20px;
      }


      &Number {
        @extend .slaveManagementList-OneSlave-common;
        width: 12.7rem;
        margin-right: 23px;
        // border: 1px solid red;
      }

      &Name {
        @extend .slaveManagementList-OneSlave-common;
        width: 16rem;
        // border: 1px solid red;s
      }

      &Time {
        @extend .slaveManagementList-OneSlave-common;
        width: 25rem;
        // border: 1px solid red;
      }

      &Money {
        @extend .slaveManagementList-OneSlave-common;
        width: 6rem;
      }

      &Join {
        @extend .slaveManagementList-OneSlave-common;
        width: 25rem;
        // border: 1px solid red;
      }
    }
  }
}