.headerButton-box {
  width: 96.7%;
  height: 5%;
  //-----------
  display: flex;
  //----------------
  margin: 1.5% 1.5% 0 1.5%;
  // border: 1px solid red;

  p {
    cursor: pointer;
  }

  .headerNotice {
    width: 80%;
    height: 100%;
    background: rgba(136, 136, 136, 0.3);
    border-radius: 20px;
    //-------------------------------------
    display: flex;
    justify-content: left;
    align-items: center;
    //---------------------
    margin: 0 2.6% 0 0;
    //---------------------
    font-weight: 600;
    color: rgba(43, 42, 42, 0.9);
  
  
    .headerNoticeImg {
      width: 3.5%;
      height: 90%;
      //---------------
      margin: 5px 15px;
      // border: 1px solid red;
    }

    .headerNoticeText{
      margin: auto 0;
      // border: 1px solid blue;
    }
  }

  .link-text {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .headerButton {
    width: 7.5rem;
    height: 100%;
    background: rgba(0, 139, 134, 0.8);
    //------------------------------------
    color: rgb(255, 255, 255);
    font-weight: 600;
    //--------------------------
    display: flex;
    justify-content: center;
    align-items: center;
    //----------------------
    margin-left: 15px;
    border: none;
    border: 1px solid rgba(0, 139, 134, 0.8);
  }
  .headerButton:hover {
    background: rgba(65, 63, 63, 0.7);
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
}
