.headerButton-box {
  width: 94.8rem;
  height: 40px;
  //-----------
  display: flex;
  //----------------
  margin: 20px 20px;
}

.headerNotice {
  width: 73.5rem;
  height: 2.5rem;
  background: rgba(136, 136, 136, 0.3);
  border-radius: 15px;
  //-------------------------------------
  display: flex;
  justify-content: left;
  align-items: center;
  //---------------------
  margin: 0 40px 0 10px;
  //---------------------
  font-weight: 600;
  color: rgba(43, 42, 42, 0.9);

  p {
    cursor: pointer;
  }


  img {
    width: 30px;
    height: 30px;
    //---------------
    margin: 5px 15px;
  }
}

.link-text {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.headerButton {
  width: 6.5rem;
  height: 2.5rem;
  background: rgba(0, 139, 134, 0.8);
  //------------------------------------
  color: rgb(255, 255, 255);
  font-weight: 600;
  //--------------------------
  display: flex;
  justify-content: center;
  align-items: center;
  //----------------------
  margin-left: 15px;
  border: none;
  border: 1px solid rgba(0, 139, 134, 0.8);
}
.headerButton:hover {
  background: rgba(65, 63, 63, 0.7);
  color: rgb(255, 255, 255);
  cursor: pointer;
}