.fullPageContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.signUpTitle {
  background-color: rgba(0, 139, 134, 0.8);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 10px 10px 0 0;
  color: white;
}

.inputContainer {
  margin-bottom: 15px;
  width: 100%;
}

.inputLabel {
  display: block;
  margin-bottom: 5px;
}

.inputWithButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputField {
  width: 100%; /* 이메일 입력 필드의 너비를 다른 필드와 동일하게 설정 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.smallButton {
  padding: 10px 15px;
  background-color: rgba(0, 139, 134, 0.8);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: 600;
  white-space: nowrap;
  margin-left: 10px; /* 버튼과 입력 필드 사이에 약간의 간격 추가 */
}

.smallButton:hover {
  background: rgba(65, 63, 63, 0.7);
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 139, 134, 0.8);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.submitButton:hover {
  background: rgba(65, 63, 63, 0.7);
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}
